header {
	text-align: center;
	background-color: #484f59;
	background-size: cover;
	margin: 0 auto;
}
a {
	color: white;
}
ul {
	list-style-type: none;
	padding: 10px 20px 10px 20px;
	margin: 0;
	background: rgba(0,0,0,0.5);
	font-size: 30 px;
	overflow: hidden;
}
li {
	float: left;
}
li a {
	display: block;
	padding: 0px 100px 0px 10px;
	color: white;
	text-align: center;
	text-decoration: none;
}
li a:hover {
	background-color: #111;
}
