header {
	text-align: center;
	background-color: #484f59;
	background-size: cover;
	margin: 0 auto;
}
img {
      margin: 40px 0px 0px 0px;
      border: 7px solid #b3a69a;;
      border-radius: 20px;
      border-radius: 50%;
      width: auto;
      height: 200px;
}
h1 {

	font-size: 60px;
}

h2 {
	font-size: 40px;
}
a {
	color: white;
}
ul {
	list-style-type: none;
	padding: 10px 20px 10px 20px;
	margin: 0;
	background: rgba(0,0,0,0.5);
	font-size: 30 px;
	overflow: hidden;
}
li {
	float: left;
}
li a {
	display: block;
	padding: 0px 100px 0px 10px;
	color: white;
	text-align: center;
	text-decoration: none;
}
li a:hover {
	background-color: #111;
}
