:root {
      --active-index: 25;
      --speed: 0;
}
* {
      box-sizing: border-box;
}
html {
      scroll-behavior: smooth;
}

body {
      background-color: black;
      margin: 0px;
      padding: 0px;
      height: 100vh;
}

a {
      text-decoration: none;
      
}
a:visited {
      color: white
}

#topbar{
    width: 100%;  
    z-index: 2;
    margin: 0 auto;

    display: flex;
    justify-content: space-between;

    position: fixed;
    top: 2em;
    left: clamp(0.25rem, 5vw, 10rem);
    right: 0;
}

#name {
      color: white;
      margin: 0;
      font-size: clamp(0.25rem, 5vw, 3rem);

      
      
}

#scrolled-name {
      position: relative;
      top: -1.1em;
      color: white;
      margin: 0;
      font-size: clamp(0.25rem, 5vw, 3rem);
}

.hidden {
      opacity: 0;
}
.showing {
      opacity: 1;
      transition: opacity 800ms ease-in-out;
}
.onload-hide {
      opacity: 0;
}
.onload-appear {
      opacity: 1;
}




#topbar-button{
      height: 100%;
      width: 40%;
      
      color: white;
      background: 0 0;
      border: 0;

      display: grid;
      grid-template-columns: 1fr 1fr 0.5fr 0.5fr 1fr 1fr;
      grid-template-rows: 1fr;
      grid-gap: 0px;
}
#topbar-button:hover > #icon {
      scale: 1.5;
}

#topbar-button:hover > #button-label {
      scale: 1.1;
      opacity: 1;
}


#topbar-button:hover > #icon > #icon-inner{
      scale: 0.05;
}

#icon {
      grid-column-start: 4;

      margin: 0;
      height: 40px;
      width: 40px;
      transform:rotate(45deg);
      border: 1px white solid;

      position: relative;
      left: 60%;

      display: flex;
      justify-self: left;
      
      transition: scale 800ms ease;
}
#icon-inner {
      margin: 0;
      height: 40px;
      width: 40px;
      
      border: 1px white solid;

      position: relative;
      transition: scale 800ms ease;
}
     

#button-label {
      grid-column-start: 3;


      display: flex;
      align-self: center;
      justify-content: right;
      opacity: 0.5;

      transition: opacity 800ms ease, scale 800ms ease;
}

#hamburger {
      grid-column-start: 4;
      position: absolute;
      display: none;


 
      flex-direction: column;
 
      
     
      z-index: 4;
      
      
      background-color: lightgray;

      height: 25vh;
      width: 20vw;

      border-radius: 5%;
      border-top-right-radius: 0;
}

#hamburger a {
      display: block;
      text-decoration: none;

      padding: 1em;
      
      opacity: 0,7;
      margin-top: 10px;
      color: black;

      height: 6.5vh;
      

      text-align: center;
      
      
}
#hamburger a:hover {
      opacity: 1;
      color: gray;
      background-color: #ddd;
      font-weight: bold;
      scale: 1;
      
}
main {
      padding: 0 10vw 0 10vw;
      background: radial-gradient(
            800px circle at 160px 100px,
            rgba(250, 214, 97, 0.4),
            transparent 40%
      );
       
}

#spacer {
      height: 30vh;
}

#cards {
      display: flex;
      flex-wrap: wrap;
      gap: 8px;
      width: calc(100% - 20px);
      
}

.card {
      background-color: rgb(255, 255, 255, 0.1);
      border: 1px solid rgba(255,255,255, 0.1);
      height: 30vh;
      width: 25vw;
      border-radius: 15px;
      cursor: pointer;
      position: relative;
      
}

.card:hover::before {
      opacity: 1;
}

.card::before {
      background: radial-gradient(
            800px circle at var(--mouse-x) var(--mouse-y),
            rgba(255, 255, 255, 0.2),
            transparent 40%
      );

      border-radius: inherit;
      content: "";

      position: absolute;
      top: 0px;
      left: 0px;

      height: 100%;
      width: 100%;

      opacity: 0;

      transition: opacity 500ms; 

      z-index: 2;

      
}

.card-content {
      color: white;
      position: relative;
      z-index: 3;
}


.project-title {
      padding-left: 0.5rem;
      margin-top: 10px;
      margin-bottom: 0;
      color: white;
}

.desc-list {
      margin-top: 0;
      list-style-type: none;
      padding: 0.5rem;
      color: gray;
      font-family: 'Inconsolata', monospace;
}

#git-linkTop {
      height: 20%;
      border-bottom: 2px solid black;
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 2;
}

.card-contentBot {
      height: 75%;
      color: white;
      position: relative;
      z-index: 3;
}

#git-linkBottom {
      border-top: 2px solid black;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 20%;
}



.fa-git {
      z-index: 3;
}

.fa-git:hover {
      scale: 1.5;
      transition: scale 400ms ease;
}


footer {
      margin-top: 10px;

      display: flex;
      color: white;
      justify-content: center;
      font-size: 16px;
      font-family: 'Inconsolata', monospace;
}